.contenedor{

  color: white;
  font-size: 2em;
display: flex; /*todos en la misma linea*/
justify-content: space-evenly;/*los distribuye horizontalmente*/
}
.caja{
  width: 30%;
  background-color: goldenrod;
  border-radius: 12px;/*q sea redondeado*/
  border: 1px solid black;
  color: black;/*textos dentro de la caja*/
  text-align: center;
  padding: 12px;
  margin: 20px;
}
.im{
  width: 100%;
}